#site-header[data-v-938bff79]{transition:background-color .25s ease}.scrolled[data-v-938bff79]{--tw-bg-opacity:1;background-color:rgb(237 239 244/var(--tw-bg-opacity,1));border-bottom-width:1px;border-color:hsl(var(--bc)/.6)}
