a[data-v-abeb6555]{color:#4078c0;font-family:var(--typography-font-body);font-weight:400;text-decoration:none}a[data-v-abeb6555]:hover{text-decoration:underline}a[data-v-abeb6555]:has(img){border-width:0}
